@model IEnumerable<NewGP.Models.missperson>
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Listmiss";

}
<br />
<br />
<br />

<h2 style="color: black; font-family: 'Poppins'; font-size: 60px; text-align-last: center;">List Of Missing People</h2>



<hr />
<button class="btn btn-warning">@Html.ActionLink("Add Missing Person Form", "AddMiss")</button>

<br />
<br />


<section id="values" class="values">

    <div class="container" data-aos="fade-up">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col">

                    <div class="box" data-aos="fade-up" data-aos-delay="400">

                        <img class="img-circle" height="190" width="190" alt="Avatar" src="@Url.Content(item.Image)" />
                        <div>
                            <div class="card-body text-center">
                                <h2 style="color:black; font-size:20px">@Html.DisplayFor(modelItem => item.Fname) @Html.DisplayFor(modelItem => item.Lname)</h2>
                                <p style="color:black"><b>Date Of Missing : </b>@Html.DisplayFor(modelItem => item.Dateofmiss)</p>
                                <button class="btn btn-default">@Html.ActionLink("Details", "Details", new { id = item.ID })</button>
                            </div>
                            </div>

                        </div>

                    </div>
            }
        </div>
    </div>
</section>






