@model NewGP.Models.Kidnap


@{
    ViewBag.Title = "Listfound";
}
<br />
<h2 style="color: black; font-family: 'Poppins'; font-size: 100px; text-align-last: center;">Details Of</h2>

<div>
    <h4 style="color:black; font-family:'Poppins'; font-size:50px; text-align-last:center;"> @Html.DisplayFor(model => model.Name)  </h4>
    <hr style="border-width:medium; width:1170px" />

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img img class="img-circle" height="270" width="250" alt="Avatar" src="@Url.Content(Model.image)">
                <hr style="border-width:medium; width:150px" />

                <p style="color:white;"><span class="badge">1</span> Comments :</p>

                <div class="row" , style="color:black;">
                    <div class="col-sm-3 text-center">
                        <img src="~/Content/Image/5.png" class="img-circle" height="40" width="40" alt="Avatar">
                    </div>
                    <div class="col-sm-10">
                        <h5>John Row <small style="color:darkgray">Apr 25, 2021, 8:25 PM</small></h5>
                        <p>I think i saw him in the taxi with old women </p>
                        <br>
                        <p><span class="badge">1</span> Reply:</p>
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <img src="~/Content/Image/4.png" class="img-circle" height="35" width="35" alt="Avatar">
                            </div>
                            <div class="col-xs-10">
                                <h5>Nested Bro <small style="color:darkgray">Apr 25, 2021, 8:28 PM</small></h5>
                                <p>Me too! WOW!</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 style="color:black">Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control " rows="2" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="table-responsive  col-9" style="color:black;">
                <table class="table">
                    <thead style="font-size: 25px;">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Questions</th>
                            <th scope="col">Anwsers</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 18px;">
                        <tr>
                            <th scope="row">1</th>
                            <td> @Html.DisplayNameFor(model => model.Name)</td>
                            <td>@Html.DisplayFor(model => model.Name)</td>

                        </tr>

                        <tr>
                            <th scope="row">4</th>
                            <td>@Html.DisplayNameFor(model => model.placehappend) </td>
                            <td> @Html.DisplayFor(model => model.placehappend) </td>
                        </tr>

                        <tr>
                            <th scope="row">5</th>
                            <td> @Html.DisplayNameFor(model => model.ismale) </td>
                            <td> @Html.DisplayFor(model => model.ismale) </td>
                        </tr>

                        <tr>
                            <th scope="row">6</th>
                            <td> @Html.DisplayNameFor(model => model.Aboutacciedance) </td>
                            <td> @Html.DisplayFor(model => model.Aboutacciedance) </td>
                        </tr>

                        <tr>
                            <th scope="row">7</th>
                            <td> @Html.DisplayNameFor(model => model.cctv) </td>
                            <td> @Html.DisplayFor(model => model.cctv) </td>
                        </tr>

                        <tr>
                            <th scope="row">8</th>
                            <td> @Html.DisplayNameFor(model => model.creaton) </td>
                            <td> @Html.DisplayFor(model => model.creaton) </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>

        <br /><br />
        <p>
            <button class="btn btn-default">@Html.ActionLink("Update", "Edit", new { id = Model.id }) </button>|
            <button class="btn btn-default">@Html.ActionLink("Delete", "Delete", new { id = Model.id }) </button>|
            <button class="btn btn-default">@Html.ActionLink("Back to List", "Listkidnap")</button>
        </p>
    </div>
</div>
